{% extends "layout.html" %}

{% block heading %}
    Location
{% endblock %}



{% block body %}
    <form method="post">
    You're logged in as {{ username }}. <button name="log out">Log out</button>
    </form>

    <table class="table table-striped">
        <tbody>
            {% for attribute in ['zipcode', 'city', 'state', 'latitude', 'longitude', 'population'] %}
                <tr>
                    <th scope="row">{{ attribute.capitalize() }}</th>
                    <td>{{ location[attribute] }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th scope="row">Time</th>
                <td>{{ time }}</td>
            </tr>
            <tr>
                <th scope="row">Summary</th>
                <td>{{ weather.summary }}</td>
            </tr>
            <tr>
                <th scope="row">Temperature</th>
                <td>{{ weather.temperature }}°F</td>
            </tr>
            <tr>
                <th scope="row">Dew Point</th>
                <td>{{ weather.dewPoint }}</td>
            </tr>
            <tr>
                <th scope="row">Humidity</th>
                <td>{{ weather.humidity * 100 }}%</td>
            </tr>
        </tbody>
    </table>

    <h2>{{ comments.rowcount }} Check-ins</h2>

    <div class="{{ alert_class }}" role="alert">
        {% if alert != None %}
          {{ alert }}
        {% endif %}
    </div>

    <form method="post">
        <textarea rows="1" cols="50" name="comment"></textarea>
        <!--<button class="btn btn-primary" name="log visit">Log Visit</button>-->
        <button name="log visit">Log Visit</button>
    </form>

    <!--I used the examples in the following links:-->
    <!--https://getbootstrap.com/docs/4.1/components/list-group/-->
    <!--https://getbootstrap.com/docs/4.1/layout/media-object/-->
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
          <li class="list-group-item">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{ comment.username }}</h5>
              {{ comment.comment }}
            </div>
          </li>
        {% endfor %}
    </ul>

{% endblock %}